* {
    box-sizing: border-box;
}

html {
    text-align: center;
}

input, label {
    display: block;
}

input {
    padding: 3px;
    margin: 5px;
}

.destinationForm, input {
    display: inline-block;
    text-align: center;
}

div {
    margin: 10px;
}

section {
    width: 100%;
}

button {
    padding: 5px;
    margin: 20px;
}

.dateForm, .startingPoint {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    margin: 1%;
}

.airports {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flight1, .flight2 {
    list-style: none;
    text-align: left;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.flightResults1, .flightResults2 {
    padding: 5px;
    border: solid 1px black;
    display: inline-block;
    margin: 10px;
    align-content: center;
    width: 45%;
}

.flightResultsList1, .flightResultsList2 {
    padding: 0;
}

.cost {
    text-align: center;
}

li {
    list-style: none;
}

ul li:nth-of-type(1n+10) {
    display: none;
}

.destinationPhotoList {
    display: flex;
    flex-direction: row;
    align-content: center;
}

img {
    width: 95%;
    height: 100%;
}

h4 {
    margin: 0;
}